.destination-detail{
    display: flex;
    margin-top: 2%;
    margin-left: 23%;
}
.destination-map{
    margin-left: 1%;
}
.destination-card{

    width: 350px;
    text-align: center;
    border-radius: 5px;
    background-color: #74b9ff;
}
@media screen and (max-width:480px){
    .destination-detail{
        display: block;
        margin-left:11.5%;
    }
    .map{
        height: 400px;
        width:82%;
    }
  }
